<div>
  <h2>
    <%= link_to dog.name, dog_path(dog) %>
  </h2>
  <%= image_tag dog.photo.url(:thumb) %>

  <h3>
    Upcoming Walks
  </h3>

  <div class="walks">
    <% if dog.walks.upcoming.any? %>
      <% dog.walks.upcoming.each do |walk| %>
        <%= render partial: 'shared/walks/details', locals: { walk: walk } %>
      <% end %>
    <% end %>
  </div>

  <div class="walks__actions">
    <%= link_to 'Request a Walk', new_walk_path(dog_id: dog) %>
  </div>

  <h4>
    Finished Walks
  </h4>
</div>