.inPlaceEditableField__successIcon {
  display: inline;
  margin: 0 5px;
  color: green;
}

.inPlaceEditableField__cancel {
  color: grey;
  font-weight: bold;
  margin-left: 1em;
}

.inPlaceEditableField__readonlySection {
  cursor: pointer;
  &:hover:after {
    margin-left: 1em;
    content: '✎';
    color: grey;
  }
}
